<!doctype html>
<html>

<head>
    <%- include('partials/analytics'); -%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>MyStore - Admin</title>
</head>

<body>
    <div class="container">
        <div class="top">
            <% bannerMessage.forEach(function(msg) {  %>
            <div class="banner bounce-7 <%= msg.type %>"><%= msg.message %></div>
            <% }); %>

            <% errorMessage.forEach(function(msg) { %>
            <div class="banner error">
                <%= msg %>
            </div>
            <% }); %>

            <div class="banner success <% if (noMessage) { %> hidden<% } %>">
                <%= successMsg %>
            </div>

            <%- include('partials/user', {user: user}); -%>
        </div>

        <div class="content">
            <h2>Adminstrator Page</h2>
            <div id="section-watermarking">
                <form id="form-watermark" action="/admin/watermark" method="post">
                    <label for="uuid">File UUID</label>
                    <input type="text" name="uuid" id="watermark-uuid" placeholder="Name" required>
                    <input type="submit" class="button button-main" value="Queue File Watermark For Watermarking "
                        id="submit-watermark">
                </form>
                <hr>
                <form action="/admin/watermark-all" method="post">
                    <button type="submit" name="watermark-all" class="button button-alert">Attempt Re-Watermarking of
                        Files
                        without Preview Location</button>
                </form>

                <% if(soundsQueued) {%>
                <h3>Files Queued</h3>
                <ul>
                    <% soundsQueued.forEach(function(soundUuid) {  %>
                    <li><%= soundUuid %></li>
                    <% }); %>
                </ul>
                <% } %>
                <a href="/kue-api">Active Job Queue</a>
            </div>
        </div>

        <%- include('partials/footer'); -%>
    </div>
</body>

<script src="/static/scripts/menu.js"></script>

</html>